<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ToDoList created in meteor with react specially for brainhub.eu">
    <meta name="viewport" content="ser-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0 ">
    <title>React Meteor TodoList</title>
    <link rel="shortcut icon" type="image/png" href="/icons/web/favicon-16.ico" sizes="16x16">
    <link rel="shortcut icon" type="image/png" href="/icons/web/favicon-32.ico" sizes="32x32">
    <link rel="shortcut icon" type="image/png" href="/icons/web/favicon-48.ico" sizes="48x48">
    <link rel="shortcut icon" type="image/png" href="/icons/web/favicon-64.ico" sizes="64x64">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android/android-icon-192x192.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/ios/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/ios/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/ios/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/ios/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/ios/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/ios/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/ios/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/ios/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/ios/apple-icon-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/icons/ios/apple-icon-precomposed.png">
    <meta name="application-name" content="ToDoList">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


</head>
<body class="pushable" >

<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
        <div class="ui dropdown link item">
            <span class="text">List</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item teal active">List A <div class="ui teal left label">23</div></div>
                <div class="item teal">List B <div class="ui left label">15</div></div>
                <div class="item teal">List C <div class="ui left label">18</div></div>
            </div>
        </div>
        <div class="ui dropdown link icon item">
            <span class="text">Options</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item"><i class="icon lock"></i>Make Private</div>
                <div class="item"><i class="icon unlock"></i>Make Public</div>
                <div class="divider"></div>
                <div class="item"><i class="icon trash"></i>Remove list</div>
            </div>
        </div>
        <a class="item">New</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar segment menu left">
    <div class="ui accordion inverted link item">
        <span class="title">List
                <i class="dropdown icon"></i>
        </span>
        <div class="content">
            <div class="item teal active">List A <div class="ui left label">23</div></div>
            <div class="item link teal">List B <div class="ui left label">15</div></div>
            <div class="item link teal">List C <div class="ui left label">18</div></div>
        </div>
    </div>
    <div class="ui accordion inverted link item">
        <span class="title">Options
                <i class="dropdown icon"></i>
        </span>

        <div class="content">
            <div class="item link">Make Private <i class="icon lock"></i></div>
            <div class="item link" >Make Public <i class="icon unlock"></i></div>
            <div class="divider"></div>
            <div class="item link" >Remove list <i class="icon trash"></i></div>
        </div>
    </div>
    <a class="item">New</a>
    <a class="item">Login</a>
    <a class="item">Signup</a>
</div>

<!-- Page Contents -->
<div class="pusher">

    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">

            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <div class="ui dropdown link item">
                    <span class="text">List</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item teal active">List A <div class="ui teal left label">23</div></div>
                        <div class="item teal">List B <div class="ui left label">15</div></div>
                        <div class="item teal">List C <div class="ui left label">18</div></div>
                    </div>
                </div>
                <div class="ui dropdown link icon item">
                    <span class="text">Options</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item"><i class="icon lock"></i>Make Private</div>
                        <div class="item"><i class="icon unlock"></i>Make Public</div>
                        <div class="divider"></div>
                        <div class="item"><i class="icon trash"></i>Remove list</div>
                    </div>
                </div>
                <a class="item">New</a>
                <div class="right item">
                    <a class="ui inverted button">Log in</a>
                    <a class="ui inverted button">Sign Up</a>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
                List name
            </h1>
        </div>

    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div id="render-target" class="ui main container"></div>
            </div>
        </div>
    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui inverted divided equal height stackable grid">
                <div class="nine wide column">
                    <h4 class="ui inverted header">About</h4>
                    <p>ToDoList app created in meteor with react specially for brainhub.eu</p>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Favicon</h4>
                    <p>made by <a href="http://www.flaticon.com/authors/madebyoliver">Madebyoliver</a>from www.flaticon.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
